<template>
  <div class="card">
    <div class="card-style">
      <img src="@/img/picture.png" class="card-img-top" alt="..."/>
      <div class="card-body">
        <h5 class="card-title">Details about</h5>
        <strong>Exam registration</strong>
        <br>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Student: {{ student.firstname }} {{ student.lastname }}</li>
        <li class="list-group-item">Exam subject: {{ exam.subject.name }}</li>
        <li class="list-group-item">ESPB: {{ exam.subject.numberOfESPB }}</li>
        <li class="list-group-item">Year of study: {{ exam.subject.yearOfStudy }}</li>
        <li class="list-group-item">Professor: {{ exam.professor.firstname }} {{ exam.professor.lastname }}</li>
        <li class="list-group-item">Date: {{ registrationDate }}</li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-secondary"  @click="goBack()">Go back</button>
      </div>
    </div>
  </div>
</template>

<script>
import ExamRegistrationService from "@/services/ExamRegistrationService.js";

export default {
  props: {
    examRegistrationId: {
      type: String,
    },
  },
  data() {
    return {
      id: null,
      student: null,
      exam: null,
      registrationDate: null,
    };
  },
  created() {
    if (this.examRegistrationId) {
      ExamRegistrationService.getExamRegistrationById(this.examRegistrationId).then((response) => {
        const examRegistration = response.data;
        this.id = examRegistration.id;
        this.student = examRegistration.student;
        this.exam = examRegistration.exam;
        this.registrationDate = examRegistration.registrationDate;
      });
    }
  },
  methods: {
      goBack() {
          this.$router.push({path: '/examRegistrations'});
      }
  }
};
</script>

<style scoped>
body {
    background-image: url("https://mdbootstrap.com/img/new/standard/city/062.jpg");
}
.card-style {
    margin: auto;
    width: 45%;
    font-size: 1.32em;
    border-right: 1px solid gray;
    border-left: 1px solid black;
    padding: 25px;
}
.card-img-top {
    width: 23%;
    margin: 0 38%;
}
.card-title {
    font-size: 2rem;
}
.card-body {
    font-size: 2.2rem;
    text-align: center;
}
.card-body button {
  margin: 30px 40%;
}
.card-style li {
  text-align: center;
}
</style>
