<template>
  <div id="wrapper" :style="{'background-image': `url(${require('../../img/picture5.png')})`}">
    <div class="form-container col-md-5">
    <h3 v-if="actionType === 'new'">New Exam registration</h3>
    <h3 v-else>Edit Exam registration</h3>
    <hr>

    <div class="form-group">
      <label for="student">&nbsp;Student</label>
      <select v-model="student" id="title" @blur="v$.student.$touch()">
        <option v-for="student in studentList" :key="student.id" :value="student">{{ student.firstname }} {{ student.lastname }}</option>
      </select>
      <p class="alert alert-danger" v-for="(error, index) of v$.student.$errors" :key="index">
        <strong>{{ error.$message }}</strong>
      </p>
    </div>
    <div class="form-group">
      <label for="exam">&nbsp;Exam</label>
      <select v-model="exam" id="exam" @blur="v$.exam.$touch()">
        <option v-for="exam in examList" :key="exam.id" :value="exam">{{ exam.subject.name }}, {{ exam.professor.firstname }} {{ exam.professor.lastname }}</option>
      </select>
      <p class="alert alert-danger" v-for="(error, index) of v$.exam.$errors" :key="index">
        <strong>{{ error.$message }}</strong>
      </p>
    </div>
    <div class="form-group">
      <label for="registrationDate" style="margin-bottom: 5px;">&nbsp;Registration Date</label>
      <input class="form-control" id="registrationDate" v-model="registrationDate" placeholder="Registration Date" @blur="v$.registrationDate.$touch()"/>
      <small>&nbsp;*Date formatt: yyyy-mm-dd</small>
      <p class="alert alert-danger" v-for="(error, index) of v$.registrationDate.$errors" :key="index">
        <strong>{{ error.$message }}</strong>
      </p>
    </div>

    <div class="d-flex flex-row-reverse pt-3">
      <button type="button" class="btn btn-success" @click="saveExamRegistration">
        <b-icon-save/>&nbsp;Save
      </button>
    </div>
  </div>
  </div>
</template>

<script>
import useValidate from "@vuelidate/core";
import { required } from "@vuelidate/validators";
import ExamRegistrationService from "@/services/ExamRegistrationService.js";
import StudentService from "@/services/StudentService.js";
import ExamService from "@/services/ExamService.js";
import { addMessage } from "@/main.js";

export default {
  props: {
    examRegistrationId: {
      type: String,
      required: true,
    },
    actionType: {
      type: String,
    },
  },
  created() {
    StudentService.getAllStudents().then((response) => {
        this.studentList = response.data;
    });
    ExamService.getAllExams().then((response) => {
        this.examList = response.data;
    });
    if (this.examRegistrationId) {
      ExamRegistrationService.getExamRegistrationById(this.examRegistrationId).then((response) => {
        const examRegistration = response.data;
        this.id = examRegistration.id;
        this.student = examRegistration.student;
        this.exam = examRegistration.exam;
        this.registrationDate = examRegistration.registrationDate;
      });
    }
  },
  data() {
    return {
      v$: useValidate(),
      id: null,
      student: null,
      exam: null,
      registrationDate: null,
      studentList: null,
      examList: null,
    };
  },
  validations() {
    return {
      student: {
        required,
      },
      exam: {
          required,
      },
      registrationDate: {
          required,
      },
    };
  },
  methods: {
    saveExamRegistration() {
      if (this.actionType && this.actionType === "new") {
        this.insertExamRegistration();
      } else {
        this.updateExamRegistration();
      }
    },
    insertExamRegistration() {
      ExamRegistrationService.insertExamRegistration({ id: this.id, student: this.student, exam: this.exam, registrationDate: this.registrationDate })
        .then((response) => {
            console.log("ExamRegistration inserted: " + response);
            addMessage({
              type: "success",
              title: "Insert",
              message: "ExamRegistration inserted",
            });
          })
        .catch((error) => {
          addMessage({
            type: "danger",
            title: "Insert",
            message: "Insert was not successful: " + error,
          });
        });
    },
    updateExamRegistration() {
      ExamRegistrationService.editExamRegistration({ id: this.id, student: this.student, exam: this.exam, registrationDate: this.registrationDate })
        .then((response) => {
          console.log("ExamRegistration updated: " + response);
          addMessage({
            type: "success",
            title: "Update",
            message: "ExamRegistration updated",
          });
        }
      )
      .catch((error) => {
          addMessage({
            type: "danger",
            title: "Update",
            message: "Update was not successful: " + error,
          });
        });
    }, 
  },
};
</script>

<style scoped>
#wrapper {
  height: 100vh;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container {
  background-color: lightgoldenrodyellow;
  margin: 5vh 40% 5vh 20%;
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 20px 20px;
  font-size: 1.3rem;
}
.form-container h3 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 20px;
}
hr {
  width: 80%;
  margin: 20px auto 38px;
}
.form-container button {
  width: 30%;
  border-radius: 15px;
  margin-right: 15px;
}
.form-group {
  margin: 30px 10px;
}
#form-element {
  width: 45%;
}
label {
  text-align: left;
}
.form-control {
  height: 40px;
}
select {
  width: 80%;
  height: 4.5vh;
  float: right;
  font-size: 1rem;
}
small {
  font-size: 0.75rem;
}
</style>
