<template>
  <div id="wrapper" :style="{'background-image': `url(${require('../../img/picture5.png')})`}">
    <div class="form-container col-md-5">
    <h3 v-if="actionType === 'new'">New Exam period</h3>
    <h3 v-else>Edit Exam period</h3>
    <hr>

    <div class="form-group">
        <label for="name">&nbsp;Name</label>
        <input class="form-control" id="name" v-model="name" placeholder="Name" @blur="v$.name.$touch()"/>
        <small>&nbsp;*Example: February 2020</small>
        <p class="alert alert-danger" v-for="(error, index) of v$.name.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
    </div>
    <div class="form-group">
        <label for="startOfExamPeriod">&nbsp;Start of exam period</label>
        <input class="form-control" id="startOfExamPeriod" v-model="startOfExamPeriod" placeholder="Start of exam period" @blur="v$.startOfExamPeriod.$touch()"/>
        <small>&nbsp;*Date formatt: yyyy-mm-dd</small>
        <p class="alert alert-danger" v-for="(error, index) of v$.startOfExamPeriod.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
    </div>
    <div class="form-group">
        <label for="endOfExamPeriod">&nbsp;End of exam period</label>
        <input class="form-control" id="endOfExamPeriod" v-model="endOfExamPeriod" placeholder="End of exam period" @blur="v$.endOfExamPeriod.$touch()"/>
        <small>&nbsp;*Date formatt: yyyy-mm-dd</small>
        <p class="alert alert-danger" v-for="(error, index) of v$.endOfExamPeriod.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
    </div>
    <div class="form-group">
      <label for="active">&nbsp;Active</label>
      <input class="form-control" id="active" v-model="active" placeholder="Active"/>
    </div>

    <div class="d-flex flex-row-reverse pt-3">
      <button type="button" class="btn btn-success" @click="saveExamPeriod">
        <b-icon-save/>&nbsp;Save
      </button>
    </div>
  </div>
  </div>
</template>

<script>
import useValidate from "@vuelidate/core";
import { required, minLength, maxLength } from "@vuelidate/validators";
import ExamPeriodService from "@/services/ExamPeriodService.js";
import { addMessage } from "@/main.js";

export default {
  props: {
    examPeriodId: {
      type: String,
      required: true,
    },
    actionType: {
      type: String,
    },
  },
  created() {
    if (this.examPeriodId) {
      ExamPeriodService.getExamPeriodById(this.examPeriodId).then((response) => {
        const examPeriod = response.data;
        this.id = examPeriod.id;
        this.name = examPeriod.name;
        this.startOfExamPeriod = examPeriod.startOfExamPeriod;
        this.endOfExamPeriod = examPeriod.endOfExamPeriod;
        this.active = examPeriod.active;
        this.exams = examPeriod.exams;
      });
    }
  },
  data() {
    return {
      v$: useValidate(),
      id: null,
      name: "",
      startOfExamPeriod: null,
      endOfExamPeriod: null,
      active: null,
      exams: null,
    };
  },
  validations() {
    return {
      name: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(30),
      },
      startOfExamPeriod: {
        required,
      },
      endOfExamPeriod: {
        required
      }
    };
  },
  methods: {
    saveExamPeriod() {
      if (this.actionType && this.actionType === "new") {
        this.insertExamPeriod();
      } else {
        this.updateExamPeriod();
      }
    },
    insertExamPeriod() {
      ExamPeriodService.insertExamPeriod({ id: this.id, name: this.name,startOfExamPeriod: this.startOfExamPeriod, 
        endOfExamPeriod: this.endOfExamPeriod, active: this.active, exams: this.exams })
        .then((response) => {
            console.log("Exam period inserted: " + response);
            addMessage({
              type: "success",
              title: "Insert",
              message: "Exam period inserted",
            });
          })
        .catch((error) => {
          addMessage({
            type: "danger",
            title: "Insert",
            message: "Insert was not successful: " + error,
          });
        });
    },
    updateExamPeriod() {
      ExamPeriodService.editExamPeriod({ id: this.id, name: this.name,startOfExamPeriod: this.startOfExamPeriod, 
        endOfExamPeriod: this.endOfExamPeriod, active: this.active, exams: this.exams })
        .then((response) => {
          console.log("Exam period updated: " + response);
          addMessage({
            type: "success",
            title: "Update",
            message: "Exam period updated",
          });
        }
      )
      .catch((error) => {
          addMessage({
            type: "danger",
            title: "Update",
            message: "Update was not successful: " + error,
          });
        });
    }, 
  },
};
</script>

<style scoped>
#wrapper {
  height: 100vh;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container {
  background-color: lightgoldenrodyellow;
  margin: 5vh 40% 5vh 20%;
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 20px 20px;
  font-size: 1.3rem;
}
.form-container h3 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 20px;
}
hr {
  width: 80%;
  margin: 20px auto 33px;
}
.form-container button {
  width: 30%;
  border-radius: 15px;
  margin-right: 15px;
}
.form-group {
  margin: 10px 10px;
}
label {
  text-align: left;
}
.form-control {
  height: 40px;
}
small {
  font-size: 0.75rem;
}
</style>
