<template>
  <div class="card">
    <div class="card-style"> 
      <img src="@/img/picture.png" class="card-img-top" alt="..."/>
      <div class="card-body">
        <h5 class="card-title">Details about</h5>
        <strong>{{ name }}</strong>
        <br>
        <strong style="font-size: 1.7rem">List of exams:</strong>
      </div>
      <ul class="list-group list-group-flush" v-for="(exam, index) of exams" :key="exam.id">
        <li class="list-group-item">{{ index+1 }} : <strong>Subject:</strong> {{ exam.subject.name }}, 
            <strong>Professor:</strong> {{ exam.professor.firstname }} {{ exam.professor.lastname }}, 
            <strong>Date:</strong> {{ exam.examDate }}
        </li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-secondary" @click="goBack()">Go back</button>
      </div>
    </div>
  </div>
</template>

<script>
import ExamPeriodService from "@/services/ExamPeriodService.js";

export default {
  props: {
    examPeriodId: {
      type: String,
    },
  },
  data() {
    return {
      id: null,
      name: "",
      startOfExamPeriod: null,
      endOfExamPeriod: null,
      exams: null,
    };
  },
  created() {
    if (this.examPeriodId) {
      ExamPeriodService.getExamPeriodById(this.examPeriodId).then((response) => {
        const examPeriod = response.data;
        this.id = examPeriod.id;
        this.name = examPeriod.name;
        this.startOfExamPeriod = examPeriod.startOfExamPeriod;
        this.endOfExamPeriod = examPeriod.endOfExamPeriod;
        this.exams = examPeriod.exams;
      });
    }
  },
  methods: {
      goBack() {
          this.$router.push({path: '/examPeriods'});
      }
  }
};
</script>

<style scoped>
body {
    background-image: url("https://mdbootstrap.com/img/new/standard/city/062.jpg");
}
.card-style {
    margin: auto;
    width: 45%;
    font-size: 1.32em;
    border-right: 1px solid gray;
    border-left: 1px solid black;
    padding: 25px;
    height: 100vh;
}
.card-img-top {
    width: 23%;
    margin: 0 38%;
}
h5 {
    font-size: 2rem;
}
.card-body {
    font-size: 2.2rem;
    text-align: center;
}
button {
  margin: 30px 40%;
}
li {
  text-align: center;
}
</style>
