<template>
  <div class="toast-container alert" v-if="GStore.toastMessage"
      :class="{'alert-success': GStore.toastMessage.type ==='success', 'alert-danger': GStore.toastMessage.type ==='danger'}">
    <h4>{{GStore.toastMessage.title}}</h4>
    {{GStore.toastMessage.message}}
  </div>
  <div id="nav">
    <router-link to="/">Home</router-link>
    <router-link to="/professors">See all professors</router-link> 
    <router-link to="/professor-form">Add new professor</router-link> 
    <router-link to="/students">See all students</router-link> 
    <router-link to="/student-form">Add new student</router-link> 
    <router-link to="/subjects">See all subjects</router-link> 
    <router-link to="/subject-form">Add new subject</router-link>
  </div>
  <router-view />
</template>

<script>
export default {
  inject: ['GStore'],
}
</script>

<style>
#app {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#nav {
  overflow: hidden;
  background-color: #333;
}
#nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 18px;
}
#nav a.router-link-exact-active {
  background-color: #429667
;
  color: black;
}

.toast-container {
  position: fixed !important;
  top: 5px;
  left: 5px;
  width: 300px;
  text-align: start;
}
</style>
