<template>
  <div id="wrapper" :style="{'background-image': `url(${require('../../img/picture5.png')})`}">
    <div class="form-container col-md-5">
      <h3 v-if="actionType === 'new'">New Subject</h3>
      <h3 v-else>Edit Subject</h3>
      <hr>

      <div class="form-group">
        <label for="name">&nbsp;Name</label>
        <input class="form-control" id="name" v-model="name" placeholder="Name" @blur="v$.name.$touch()"/>
        <p class="alert alert-danger" v-for="(error, index) of v$.name.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
      </div>
      <div class="form-group">
        <label for="description">&nbsp;Description</label>
        <textarea class="form-control" style="height:200px; resize:both;" id="description" v-model="description" placeholder="Description"></textarea>
      </div>
      <div class="form-group">
        <label for="numberOfESPB">&nbsp;Number of ESPB</label>
        <input class="form-control" id="numberOfESPB" v-model="numberOfESPB" placeholder="Number of ESPB" @blur="v$.numberOfESPB.$touch()"/>
        <p class="alert alert-danger" v-for="(error, index) of v$.numberOfESPB.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
      </div>
      <div class="form-group">
        <label for="yearOfStudy">&nbsp;Year of study</label>
        <input class="form-control" id="yearOfStudy" v-model="yearOfStudy" placeholder="Year of study"/>
      </div>
      <div class="form-group">
        <label for="semester">&nbsp;Semester</label>
        <input class="form-control" id="semester" v-model="semester" placeholder="Semester"/>
      </div>

      <div class="d-flex flex-row-reverse pt-3">
        <button type="button" class="btn btn-success" @click="saveSubject">
          <b-icon-save/>&nbsp;Save
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import useValidate from "@vuelidate/core";
import { required, minLength, maxLength } from "@vuelidate/validators";
import SubjectService from "@/services/SubjectService.js";
import { addMessage } from "@/main.js";

export default {
  props: {
    subjectId: {
      type: String,
      required: true,
    },
    actionType: {
      type: String,
    },
  },
  created() {
    if (this.subjectId) {
      SubjectService.getSubjectById(this.subjectId).then((response) => {
        const subject = response.data;
        this.id = subject.id;
        this.name = subject.name;
        this.description = subject.description;
        this.numberOfESPB = subject.numberOfESPB;
        this.yearOfStudy = subject.yearOfStudy;
        this.semester = subject.semester;
      });
    }
  },
  data() {
    return {
      v$: useValidate(),
      id: null,
      name: "",
      description: "",
      numberOfESPB: null,
      yearOfStudy: null,
      semester: "",
    };
  },
  validations() {
    return {
      name: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(30),
      },
      numberOfESPB: {
        required,
      },
    };
  },
  methods: {
    saveSubject() {
      if (this.actionType && this.actionType === "new") {
        this.insertSubject();
      } else {
        this.updateSubject();
      }
    },
    insertSubject() {
      SubjectService.insertSubject({ id: this.id, name: this.name, description: this.description, numberOfESPB: this.numberOfESPB, 
        yearOfStudy: this.yearOfStudy, semester: this.semester })
        .then((response) => {
            console.log("Subject inserted: " + response);
            addMessage({
              type: "success",
              title: "Insert",
              message: "Subject inserted",
            });
          })
        .catch((error) => {
          addMessage({
            type: "danger",
            title: "Insert",
            message: "Insert was not successful: " + error,
          });
        });
    },
    updateSubject() {
      SubjectService.editSubject({ id: this.id, name: this.name, description: this.description, numberOfESPB: this.numberOfESPB, 
        yearOfStudy: this.yearOfStudy, semester: this.semester })
        .then((response) => {
          console.log("Subject updated: " + response);
          addMessage({
            type: "success",
            title: "Update",
            message: "Subject updated",
          });
        }
      )
      .catch((error) => {
          addMessage({
            type: "danger",
            title: "Update",
            message: "Update was not successful: " + error,
          });
        });
    }, 
  },
};
</script>

<style scoped>
#wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container {
  background-color: lightgoldenrodyellow;
  margin: 5vh 40% 10vh 20%;
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 20px 20px;
  font-size: 1.3rem;
}
.form-container h3 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 20px;
}
hr {
  width: 80%;
  margin: 20px auto 33px;
}
.form-container button {
  width: 30%;
  border-radius: 15px;
  margin-right: 15px;
}
.form-group {
  margin: 15px 10px;
}
label {
  text-align: left;
}
.form-control {
  height: 40px;
}
</style>