<template>
  <div class="card">
    <div class="card-style">
      <img src="@/img/picture.png" class="card-img-top" alt="..."/>
      <div class="card-body">
        <h5 class="card-title">Details about</h5>
        <strong>{{ name }}</strong>
        <br>
        <strong style="font-size: 1.7rem">Subject</strong>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Description: {{ description }}</li>
        <li class="list-group-item">Number of ESPB: {{ numberOfESPB }}</li>
        <li class="list-group-item">Year of study: {{ yearOfStudy }}</li>
        <li class="list-group-item">Semester: {{semester }}</li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-secondary"  @click="goBack()">Go back</button>
      </div>
    </div>
  </div>
</template>

<script>
import SubjectService from "@/services/SubjectService.js";

export default {
  props: {
    subjectId: {
      type: String,
    },
  },
  data() {
    return {
      id: null,
      name: "",
      description: "",
      numberOfESPB: null,
      yearOfStudy: null,
      semester: "",
    };
  },
  created() {
    if (this.subjectId) {
      SubjectService.getSubjectById(this.subjectId).then((response) => {
        const subject = response.data;
        this.id = subject.id;
        this.name = subject.name;
        this.description = subject.description;
        this.numberOfESPB = subject.numberOfESPB;
        this.yearOfStudy = subject.yearOfStudy;
        this.semester = subject.semester;
      });
    }
  },
  methods: {
      goBack() {
          this.$router.push({path: '/subjects'});
      }
  }
};
</script>

<style scoped>
body {
    background-image: url("https://mdbootstrap.com/img/new/standard/city/062.jpg");
}
.card-style {
    margin: auto;
    width: 45%;
    font-size: 1.32em;
    border-right: 1px solid gray;
    border-left: 1px solid black;
    padding: 25px;
    height: 100vh;
}
.card-img-top {
    width: 23%;
    margin: 0 38%;
}
h5 {
    font-size: 2rem;
}
.card-body {
    font-size: 2.2rem;
    text-align: center;
}
button {
  margin: 30px 40%;
}
li {
  text-align: center;
}
</style>