<template>
  <div id="wrapper" :style="{'background-image': `url(${require('../../img/pict2.jpg')})`}">
    <div class="card">
      <div class="card-box">
        <label>Select page size</label>
        <div>
          <button type="button" class="btn btn-secondary" @click="setPageSize(3)">3</button>
          <button type="button" class="btn btn-secondary" @click="setPageSize(5)">5</button>
          <button type="button" class="btn btn-secondary" @click="setPageSize(7)">7</button>
          <button type="button" class="btn btn-secondary" @click="setPageSize(10)">10</button>
        </div>
      </div>
    </div>
  <div class="col-8 col-md-15" style="margin: 5vh auto">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order</th>
          <th scope="col">Name</th>
          <th scope="col">Number of ESPB</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(subject, index) of subjectList" :key="subject.id">
          <th scope="row">{{ currentPage * pageSize + index + 1 }}</th>
          <td>{{ subject.name }}</td>
          <td>{{ subject.numberOfESPB }}</td>
          <td>
            <button class="btn btn-light" type="button">
              <router-link :to="{ name: 'SubjectDetails', params: { subjectId: subject.id } }" style="text-decoration: none;">
                <b-icon-file-earmark-bar-graph-fill/>&nbsp;Details
              </router-link>
            </button>
            <button class="btn btn-light" type="button">
              <router-link :to="{ name: 'EditSubject', params: { subjectId: subject.id } }" style="text-decoration: none;">
                <b-icon-pencil />&nbsp;Edit
              </router-link>
            </button>
            <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" 
              @click="prepareToDeleteSubject(subject)">
              <b-icon-trash />&nbsp;Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center">
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" @click="gotoToPage(0)">First</a>
          </li>
          <li class="page-item">
            <a class="page-link" @click="previousPage()">Previous</a>
          </li>
          <li class="page-item" :class="{ active: pageNumber === currentPage }" v-for="pageNumber of pageLinks" :key="pageNumber">
            <a class="page-link" @click="gotoToPage(pageNumber)">{{ pageNumber }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" @click="nextPage()">Next</a>
          </li>
          <li class="page-item">
            <a class="page-link" @click="gotoToPage(totalPages - 1)">Last</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Warning</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete subject
          <span v-if="selectedSubject">{{ selectedSubject.name }}</span> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="deleteSelectedSubject()">Yes</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import SubjectService from "@/services/SubjectService.js";
import { addMessage } from '@/main.js'

export default {
  inject: ["GStore"],
  data() {
    return {
      subjectList: [],
      selectedSubject: null,
      currentPage: 0,
      totalPages: 0,
      pageSize: 5,
      pageLinks: [],
    };
  },
  created() {
    const pageState = this.$store.getters.getSubjectListState;
    if (pageState) {
        this.currentPage = pageState.page;
        this.pageSize = pageState.size;
        this.totalPages = pageState.totalPages;
    }
    this.loadPage();
  },
  
  methods: {
    prepareToDeleteSubject(subject) {
      this.selectedSubject = subject;
    },
    deleteSelectedSubject() {
        SubjectService.deleteSubject(this.selectedSubject.id)
        .then((response) => {
          console.log(response);
          addMessage({
            type: "success",
            title: "Delete",
            message: "Subject deleted",
          });
          this.loadPage();
        })
        .catch((error) => {          
          addMessage({
            type: "danger",
            title: "Delete",
            message: "Delete was not successful: " + error,
          });
        });
    },
    loadPage() {
      SubjectService.getSubjectsByPage({
        page: this.currentPage,
        size: this.pageSize,
      }).then((response) => {
        this.totalPages = response.data.totalPages;
        this.pageSize = response.data.size;
        this.createPageLinks();
        this.subjectList = response.data.content;
      });
    },
    setPageSize(size) {
      this.pageSize = size;
      this.loadPage();
    },
    previousPage() {
      if (this.currentPage > 0) {
        this.currentPage--;
        this.loadPage();
      }
    },
    nextPage() {
      if (this.currentPage < this.totalPages - 1) {
        this.currentPage++;
        this.loadPage();
      }
    },
    gotoToPage(page) {
      if (this.currentPage !== page) {
        this.currentPage = page;
        this.loadPage();
      }
    },
    createPageLinks() {
      const firstPage =
        this.currentPage === 0
          ? this.currentPage
          : this.currentPage === this.totalPages - 1
          ? this.totalPages > 2  ? this.currentPage  - 2 : this.currentPage  - 1
          : this.currentPage - 1;
        const numberOfLinks = this.totalPages > 3 ? 3 : this.totalPages;
      this.pageLinks = [...Array(numberOfLinks).keys()].map((x) => firstPage + x);
    },
  },
};
</script>

<style scoped>
#wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
button {
  margin-left: 5px;
}
.page-item {
  cursor: pointer;
}
.card {
  width: 300px;
  text-align: center;
  font-size: 2rem;
  background-color: #E5E9EC;
  padding-bottom: 7px;;
}
.card-box {
  margin: 15px;
}
</style>