<template>
  <div id="wrapper" :style="{'background-image': `url(${require('../../img/picture5.png')})`}">
    <div class="form-container col-md-5">
      <h3 v-if="actionType === 'new'">New Exam</h3>
      <h3 v-else>Edit Exam</h3>
      <hr>

      <div class="form-group">
        <label for="subject">&nbsp;Subject</label>
        <select v-model="subject" id="title" @blur="v$.subject.$touch()">
          <option v-for="subject in subjectList" :key="subject.id" :value="subject">{{ subject.name }}</option>
        </select>
        <p class="alert alert-danger" v-for="(error, index) of v$.subject.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
      </div>
      <div class="form-group">
        <label for="professor">&nbsp;Professor</label>
        <select v-model="professor" id="professor" @blur="v$.professor.$touch()">
          <option v-for="professor in professorList" :key="professor.id" :value="professor">{{ professor.firstname }} {{ professor.lastname }}</option>
        </select>
        <p class="alert alert-danger" v-for="(error, index) of v$.professor.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
      </div>
      <div class="form-group">
        <label for="examDate" style="margin-bottom: 5px;">&nbsp;Exam Date</label>
        <input class="form-control" id="examDate" v-model="examDate" placeholder="Exam Date" @blur="v$.examDate.$touch()"/>
        <small>&nbsp;*Date formatt: yyyy-mm-dd</small>
        <p class="alert alert-danger" v-for="(error, index) of v$.examDate.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
      </div>

      <div class="d-flex flex-row-reverse pt-3">
        <button type="button" class="btn btn-success" @click="saveExam">
          <b-icon-save/>&nbsp;Save
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import useValidate from "@vuelidate/core";
import { required } from "@vuelidate/validators";
import ExamService from "@/services/ExamService.js";
import SubjectService from "@/services/SubjectService.js";
import ProfessorService from "@/services/ProfessorService.js";
import { addMessage } from "@/main.js";

export default {
  props: {
    examId: {
      type: String,
      required: true,
    },
    actionType: {
      type: String,
    },
  },
  created() {
    SubjectService.getAllSubjects().then((response) => {
        this.subjectList = response.data;
    });
    ProfessorService.getAllProfessors().then((response) => {
        this.professorList = response.data;
    });
    if (this.examId) {
      ExamService.getExamById(this.examId).then((response) => {
        const exam = response.data;
        this.id = exam.id;
        this.subject = exam.subject;
        this.professor = exam.professor;
        this.examDate = exam.examDate;
      });
    }
  },
  data() {
    return {
      v$: useValidate(),
      id: null,
      subject: null,
      professor: null,
      examDate: null,
      subjectList: null,
      professorList: null,
    };
  },
  validations() {
    return {
      subject: {
        required
      },
      professor: {
          required
      },
      examDate: {
          required
      }
    };
  },
  methods: {
    saveExam() {
      if (this.actionType && this.actionType === "new") {
        this.insertExam();
      } else {
        this.updateExam();
      }
    },
    insertExam() {
      ExamService.insertExam({ id: this.id, subject: this.subject, professor: this.professor, examDate: this.examDate })
        .then((response) => {
            console.log("Exam inserted: " + response);
            addMessage({
              type: "success",
              title: "Insert",
              message: "Exam inserted",
            });
          })
        .catch((error) => {
          addMessage({
            type: "danger",
            title: "Insert",
            message: "Insert was not successful: " + error,
          });
        });
    },
    updateExam() {
      ExamService.editExam({ id: this.id, subject: this.subject, professor: this.professor, examDate: this.examDate })
        .then((response) => {
          console.log("Exam updated: " + response);
          addMessage({
            type: "success",
            title: "Update",
            message: "Exam updated",
          });
        }
      )
      .catch((error) => {
          addMessage({
            type: "danger",
            title: "Update",
            message: "Update was not successful: " + error,
          });
        });
    }, 
  },
};
</script>

<style scoped>
#wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container {
  background-color: lightgoldenrodyellow;
  margin: 5vh 40% 5vh 20%;
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 20px 20px;
  font-size: 1.3rem;
}
.form-container h3 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 20px;
}
hr {
  width: 80%;
  margin: 20px auto 33px;
}
.form-container button {
  width: 30%;
  border-radius: 15px;
  margin-right: 15px;
}
.form-group {
  margin: 30px 10px;
}
#form-element {
  width: 45%;
}
label {
  text-align: left;
}
.form-control {
  height: 40px;
}
select {
  width: 80%;
  height: 4.5vh;
  float: right;
  font-size: 1rem;
}
small {
  font-size: 0.75rem;
}
</style>
