<template>
  <div class="card">
      <div class="card-style"> 
        <img src="@/img/picture.png" class="card-img-top" alt="..."/>
        <div class="card-body">
          <h5 class="card-title">Details about</h5>
          <strong>Exam</strong>
          <br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Subject: {{ subject.name }}</li>
          <li class="list-group-item">ESPB: {{ subject.numberOfESPB }}</li>
          <li class="list-group-item">Year of study: {{ subject.yearOfStudy }}</li>
          <li class="list-group-item">Professor: {{ professor.firstname }} {{ professor.lastname }}</li>
          <li class="list-group-item">Exam date: {{ examDate }}</li>
        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-secondary" @click="goBack()">Go back</button>
        </div>
      </div>
    </div>
</template>

<script>
import ExamService from "@/services/ExamService.js";

export default {
  props: {
    examId: {
      type: String,
    },
  },
  data() {
    return {
      id: null,
      subject: null,
      professor: null,
      examDate: null,
    };
  },
  created() {
    if (this.examId) {
      ExamService.getExamById(this.examId).then((response) => {
        const exam = response.data;
        this.id = exam.id;
        this.subject = exam.subject;
        this.professor = exam.professor;
        this.examDate = exam.examDate;
      });
    }
  },
  methods: {
      goBack() {
          this.$router.push({path: '/exams'});
      }
  }
};
</script>

<style scoped>
.card-style {
    margin: auto;
    width: 45%;
    font-size: 1.32em;
    border-right: 1px solid gray;
    border-left: 1px solid black;
    padding: 25px;
    height: 100vh;
}
.card-img-top {
    width: 23%;
    margin: 0 38%;
}
h5 {
    font-size: 2rem;
}
.card-body {
    font-size: 2.2rem;
    text-align: center;
}
button {
  margin: 30px 40%;
}
li {
  text-align: center;
}
</style>
