<template>
  <div class="card">
    <div class="card-style">
      <img src="@/img/picture.png" class="card-img-top" alt="..."/>
      <div class="card-body">
        <h5 class="card-title">Details about</h5>
        <strong>{{ firstname }} {{ lastname }}</strong>
        <br>
        <strong style="font-size: 1.7rem">{{ title }}</strong>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Email: {{ email }}</li>
        <li class="list-group-item">City: {{ city }}</li>
        <li class="list-group-item">Address: {{ address }}</li>
        <li class="list-group-item">Phone: {{ phone }}</li>
        <li class="list-group-item">Reelection date: {{ reelectionDate }}</li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-secondary"  @click="goBack()">Go back</button>
      </div>
    </div>
  </div>
</template>

<script>
import ProfessorService from "@/services/ProfessorService.js";

export default {
  props: {
    professorId: {
      type: String,
    },
  },
  data() {
    return {
      id: null,
      firstname: "",
      lastname: "",
      email: "",
      address: "",
      city: null,
      phone: "",
      reelectionDate: null,
      title: ""
    };
  },
  created() {
    if (this.professorId) {
      ProfessorService.getProfessorById(this.professorId).then((response) => {
        const professor = response.data;
        this.id = professor.id;
        this.firstname = professor.firstname;
        this.lastname = professor.lastname;
        this.email = professor.email;
        this.address = professor.address;
        this.city = professor.city.name;
        this.phone = professor.phone;
        this.reelectionDate = professor.reelectionDate;
        this.title = professor.title.name;
      });
    }
  },
  methods: {
      goBack() {
          this.$router.push({path: '/professors'});
      }
  }
};
</script>

<style scoped>
body {
    background-image: url("https://mdbootstrap.com/img/new/standard/city/062.jpg");
}
.card-style {
    margin: auto;
    width: 45%;
    font-size: 1.32em;
    border-right: 1px solid gray;
    border-left: 1px solid black;
    padding: 25px;
}
.card-img-top {
    width: 23%;
    margin: 0 38%;
}
.card-title {
    font-size: 2rem;
}
.card-body {
    font-size: 2.2rem;
    text-align: center;
}
.card-body button {
  margin: 30px 40%;
}
.card-style li {
  text-align: center;
}
</style>
