<template>
  <div id="wrapper" :style="{'background-image': `url(${require('../../img/picture5.png')})`}">
    <div class="form-container col-md-5">
    <h3 v-if="actionType === 'new'">New Professor</h3>
    <h3 v-else>Edit Professor</h3>
    <hr>

    <div class="form-parent-group">
      <div class="form-group" id="form-element" style="float: left;">
        <label for="firstname">&nbsp;Firstname</label>
        <input class="form-control" id="firstname" v-model="firstname" placeholder="Firstname" @blur="v$.firstname.$touch()"/>
        <p class="alert alert-danger" v-for="(error, index) of v$.firstname.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
      </div>
      <div class="form-group" id="form-element" style="float: right;">
        <label for="lastname">&nbsp;Lastname</label>
        <input class="form-control" id="lastname" v-model="lastname" placeholder="Lastname" @blur="v$.lastname.$touch()"/>
        <p class="alert alert-danger" v-for="(error, index) of v$.lastname.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
      </div>
    </div>
    <div class="form-group" id="form-select-1">
      <label for="title">&nbsp;Title</label>
      <select v-model="title" id="title" @blur="v$.title.$touch()">
        <option v-for="title in titleList" :key="title.id" :value="title">{{ title.name }}</option>
      </select>
      <p class="alert alert-danger" v-for="(error, index) of v$.title.$errors" :key="index">
        <strong>{{ error.$message }}</strong>
      </p>
    </div>
    <div class="form-group">
      <label for="email">&nbsp;Email</label>
      <input class="form-control" id="email" v-model="email" placeholder="Email"/>
    </div>
    <div class="form-group" id="form-select-2"> 
      <label for="city">&nbsp;City</label>
      <select v-model="city" id="city">
        <option v-for="city in cityList" :key="city.postalCode" :value="city">{{ city.postalCode }} {{ city.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="address">&nbsp;Address</label>
      <input class="form-control" id="address" v-model="address" placeholder="Address" @blur="v$.address.$touch()"/>
      <p class="alert alert-danger" v-for="(error, index) of v$.address.$errors" :key="index">
        <strong>{{ error.$message }}</strong>
      </p>
    </div>
    <div class="form-group">
      <label for="phone">&nbsp;Phone</label>
      <input class="form-control" id="phone" v-model="phone" placeholder="Phone" @blur="v$.phone.$touch()"/>
      <p class="alert alert-danger" v-for="(error, index) of v$.phone.$errors" :key="index">
        <strong>{{ error.$message }}</strong>
      </p>
    </div>
    <div class="form-group">
      <label for="reelectionDate">&nbsp;Reelection Date</label>
      <input class="form-control" id="reelectionDate" v-model="reelectionDate" placeholder="Reelection Date" @blur="v$.reelectionDate.$touch()"/>
      <small>&nbsp;*Date formatt: yyyy-mm-dd</small>
      <p class="alert alert-danger" v-for="(error, index) of v$.reelectionDate.$errors" :key="index">
        <strong>{{ error.$message }}</strong>
      </p>
    </div>

    <div class="d-flex flex-row-reverse pt-3">
      <button type="button" class="btn btn-success" @click="saveProfessor">
        <b-icon-save/>&nbsp;Save
      </button>
    </div>
  </div>
  </div>
</template>

<script>
import useValidate from "@vuelidate/core";
import { required, minLength, maxLength } from "@vuelidate/validators";
import ProfessorService from "@/services/ProfessorService.js";
import CityService from "@/services/CityService.js";
import TitleService from "@/services/TitleService.js";
import { addMessage } from "@/main.js";

export default {
  props: {
    professorId: {
      type: String,
      required: true,
    },
    actionType: {
      type: String,
    },
  },
  created() {
    CityService.getAllCities().then((response) => {
        this.cityList = response.data;
    });
    TitleService.getAllTitles().then((response) => {
        this.titleList = response.data;
    });
    if (this.professorId) {
      ProfessorService.getProfessorById(this.professorId).then((response) => {
        const professor = response.data;
        this.id = professor.id;
        this.firstname = professor.firstname;
        this.lastname = professor.lastname;
        this.email = professor.email;
        this.address = professor.address;
        this.phone = professor.phone;
        this.reelectionDate = professor.reelectionDate;
      });
    }
  },
  data() {
    return {
      v$: useValidate(),
      id: null,
      firstname: "",
      lastname: "",
      email: "",
      address: "",
      city: null,
      phone: "",
      reelectionDate: null,
      title: null,
      cityList: null,
      titleList: null
    };
  },
  validations() {
    return {
      firstname: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(30),
      },
      lastname: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(30),
      },
      address: {
        minLength: minLength(3),
        maxLength: maxLength(50),
      },
      phone: {
        minLength: minLength(6),
        maxLength: maxLength(15),
      },
      reelectionDate: {
        required,
      },
      title: {
        required
      }
    };
  },
  methods: {
    saveProfessor() {
      if (this.actionType && this.actionType === "new") {
        this.insertProfessor();
      } else {
        this.updateProfessor();
      }
    },
    insertProfessor() {
      ProfessorService.insertProfessor({ id: this.id, firstname: this.firstname, lastname: this.lastname, email: this.email,
        address: this.address, city: this.city, phone: this.phone, reelectionDate: this.reelectionDate, title: this.title })
        .then((response) => {
            console.log("Professor inserted: " + response);
            addMessage({
              type: "success",
              title: "Insert",
              message: "Professor inserted",
            });
          })
        .catch((error) => {
          addMessage({
            type: "danger",
            title: "Insert",
            message: "Insert was not successful: " + error,
          });
        });
    },
    updateProfessor() {
      ProfessorService.editProfessor({ id: this.id, firstname: this.firstname, lastname: this.lastname, email: this.email,
        address: this.address, city: this.city, phone: this.phone, reelectionDate: this.reelectionDate, title: this.title })
        .then((response) => {
          console.log("Professor updated: " + response);
          addMessage({
            type: "success",
            title: "Update",
            message: "Professor updated",
          });
        }
      )
      .catch((error) => {
          addMessage({
            type: "danger",
            title: "Update",
            message: "Update was not successful: " + error,
          });
        });
    }, 
  },
};
</script>

<style scoped>
#wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container {
  background-color: lightgoldenrodyellow;
  margin: 5vh 40% 5vh 20%;
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 20px 20px;
  font-size: 1.3rem;
}
.form-container h3 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 20px;
}
hr {
  width: 80%;
  margin: 20px auto 33px;
}
.form-container button {
  width: 30%;
  border-radius: 15px;
  margin-right: 15px;
}
.form-group {
  margin: 10px 10px;
}
#form-element {
  width: 45%;
}
label {
  text-align: left;
}
.form-control {
  height: 40px;
}
select {
  width: 90%;
  height: 4.5vh;
  float: right;
  font-size: 1rem;
}
small {
  font-size: 0.75rem;
}
#form-select-2, #form-select-1 {
  margin: 25px 10px;
}
</style>
