<template>
  <div class="card">
    <div class="card-style"> 
      <img src="@/img/picture.png" class="card-img-top" alt="..."/>
      <div class="card-body">
        <h5 class="card-title">Details about</h5>
        <strong>{{ firstname }} {{ lastname }}</strong>
        <br>
        <strong style="font-size: 1.7rem">Student</strong>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Index: {{ indexNumber }}/{{ indexYear }}</li>
        <li class="list-group-item">Current year of study: {{ currentYearOfStudy }}</li>
        <li class="list-group-item">Email: {{ email }}</li>
        <li class="list-group-item">City: {{ city }}</li>
        <li class="list-group-item">Address: {{ address }}</li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-secondary"  @click="goBack()">Go back</button>
      </div>
    </div>
  </div>
</template>

<script>
import StudentService from "@/services/StudentService.js";

export default {
  props: {
    studentId: {
      type: String,
    },
  },
  data() {
    return {
      id: null,
      indexNumber: "",
      indexYear: "",
      firstname: "",
      lastname: "",
      email: "",
      address: "",
      city: null,
      currentYearOfStudy: null
    };
  },
  created() {
    if (this.studentId) {
      StudentService.getStudentById(this.studentId).then((response) => {
        const student = response.data;
        this.id = student.id;
        this.indexNumber = student.indexNumber;
        this.indexYear = student.indexYear;
        this.firstname = student.firstname;
        this.lastname = student.lastname;
        this.email = student.email;
        this.address = student.address;
        this.city = student.city.name;
        this.currentYearOfStudy = student.currentYearOfStudy;
      });
    }
  },
  methods: {
      goBack() {
          this.$router.push({path: '/students'});
      }
  }
};
</script>

<style scoped>
body {
    background-image: url("https://mdbootstrap.com/img/new/standard/city/062.jpg");
}
.card-style {
    margin: auto;
    width: 45%;
    font-size: 1.32em;
    border-right: 1px solid gray;
    border-left: 1px solid black;
    padding: 25px;
}
.card-img-top {
    width: 23%;
    margin: 0 38%;
}
h5 {
    font-size: 2rem;
}
.card-body {
    font-size: 2.2rem;
    text-align: center;
}
button {
  margin: 30px 40%;
}
li {
  text-align: center;
}
</style>
