<template>
  <div id="wrapper" :style="{'background-image': `url(${require('../../img/picture5.png')})`}">
    <div class="form-container col-md-5">
    <h3 v-if="actionType === 'new'">New Student</h3>
    <h3 v-else>Edit Student</h3>
    <hr>

    <div class="form-parent-group">
      <div class="form-group" id="form-element" style="float: left;">
        <label for="indexNumber">&nbsp;Index number</label>
        <input class="form-control" id="indexNumber" v-model="indexNumber" placeholder="Index number" @blur="v$.indexNumber.$touch()"/>
        <p class="alert alert-danger" v-for="(error, index) of v$.indexNumber.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
      </div>
      <div class="form-group" id="form-element" style="float: right;">
        <label for="indexYear">&nbsp;Index year</label>
        <input class="form-control" id="indexYear" v-model="indexYear" placeholder="Index year" @blur="v$.indexYear.$touch()"/>
        <p class="alert alert-danger" v-for="(error, index) of v$.indexYear.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
      </div>
    </div>
    <div class="form-parent-group">
      <div class="form-group" id="form-element" style="float: left;">
        <label for="firstname">&nbsp;Firstname</label>
        <input class="form-control" id="firstname" v-model="firstname" placeholder="Firstname" @blur="v$.firstname.$touch()"/>
        <p class="alert alert-danger" v-for="(error, index) of v$.firstname.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
      </div>
      <div class="form-group" id="form-element" style="float: right;">
        <label for="lastname">&nbsp;Lastname</label>
        <input class="form-control" id="lastname" v-model="lastname" placeholder="Lastname" @blur="v$.lastname.$touch()"/>
        <p class="alert alert-danger" v-for="(error, index) of v$.lastname.$errors" :key="index">
          <strong>{{ error.$message }}</strong>
        </p>
      </div>
    </div>
    <div class="form-group" id="form-element">
      <label for="currentYearOfStudy">&nbsp;Current year of study</label>
      <input class="form-control" id="currentYearOfStudy" v-model="currentYearOfStudy" placeholder="Current year of study"
        @blur="v$.currentYearOfStudy.$touch()"/>
      <p class="alert alert-danger" v-for="(error, index) of v$.currentYearOfStudy.$errors" :key="index">
        <strong>{{ error.$message }}</strong>
      </p>
    </div>
    <div class="form-group">
      <label for="email">&nbsp;Email</label>
      <input class="form-control" id="email" v-model="email" placeholder="Email"/>
    </div>
    <div class="form-group" id="form-select"> 
      <label for="city">&nbsp;City</label>
      <select v-model="city" id="city">
        <option v-for="city in cityList" :key="city.postalCode" :value="city">{{ city.postalCode }} {{ city.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="address">&nbsp;Address</label>
      <input class="form-control" id="address" v-model="address" placeholder="Address" @blur="v$.address.$touch()"/>
      <p class="alert alert-danger" v-for="(error, index) of v$.address.$errors" :key="index">
        <strong>{{ error.$message }}</strong>
      </p>
    </div>
    
    <div class="d-flex flex-row-reverse pt-3">
      <button type="button" class="btn btn-success" @click="saveStudent">
        <b-icon-save/>&nbsp;Save
      </button>
    </div>
  </div>
  </div>
</template>

<script>
import useValidate from "@vuelidate/core";
import { required, minLength, maxLength } from "@vuelidate/validators";
import StudentService from "@/services/StudentService.js";
import CityService from "@/services/CityService.js";
import { addMessage } from "@/main.js";

export default {
  props: {
    studentId: {
      type: String,
      required: true,
    },
    actionType: {
      type: String,
    },
  },
  created() {
    CityService.getAllCities().then((response) => {
        this.cityList = response.data;
    });
    if (this.studentId) {
      StudentService.getStudentById(this.studentId).then((response) => {
        const student = response.data;
        this.id = student.id;
        this.indexNumber = student.indexNumber;
        this.indexYear = student.indexYear;
        this.firstname = student.firstname;
        this.lastname = student.lastname;
        this.email = student.email;
        this.address = student.address;
        this.currentYearOfStudy = student.currentYearOfStudy;
      });
    }
  },
  data() {
    return {
      v$: useValidate(),
      id: null,
      indexNumber: "",
      indexYear: "",
      firstname: "",
      lastname: "",
      email: "",
      address: "",
      city: null,
      currentYearOfStudy: null,
      cityList: null,
    };
  },
  validations() {
    return {
      indexNumber: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(4),
      },
      indexYear: {
        required,
      },
      firstname: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(30),
      },
      lastname: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(30),
      },
      address: {
        minLength: minLength(3),
        maxLength: maxLength(50),
      },
      currentYearOfStudy: {
        required
      }
    };
  },
  methods: {
    saveStudent() {
      if (this.actionType && this.actionType === "new") {
        this.insertStudent();
      } else {
        this.updateStudent();
      }
    },
    insertStudent() {
      StudentService.insertStudent({ id: this.id, indexNumber: this.indexNumber, indexYear: this.indexYear, firstname: this.firstname, 
        lastname: this.lastname, email: this.email, address: this.address, city: this.city, currentYearOfStudy: this.currentYearOfStudy })
        .then((response) => {
            console.log("Student inserted: " + response);
            addMessage({
              type: "success",
              title: "Insert",
              message: "Student inserted",
            });
          })
        .catch((error) => {
          addMessage({
            type: "danger",
            title: "Insert",
            message: "Insert was not successful: " + error,
          });
        });
    },
    updateStudent() {
      StudentService.editStudent({ id: this.id, indexNumber: this.indexNumber, indexYear: this.indexYear, firstname: this.firstname, 
        lastname: this.lastname, email: this.email, address: this.address, city: this.city, currentYearOfStudy: this.currentYearOfStudy })
        .then((response) => {
          console.log("Student updated: " + response);
          addMessage({
            message: "Student updated",
            type: "success",
            title: "STUDENT",
          });
        }
      )
      .catch((error) => {
          addMessage({
            message: "Update was not successful: " + error,
            type: "danger",
            title: "Update student",
          });
        });
    }, 
  },
};
</script>

<style scoped>
#wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container {
  background-color: lightgoldenrodyellow;
  margin: 5vh 40% 5vh 20%;
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 20px 20px;
  font-size: 1.3rem;
}
.form-container h3 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 20px;
}
hr {
  width: 80%;
  margin: 20px auto 33px;
}
.form-container button {
  width: 30%;
  border-radius: 15px;
  margin-right: 15px;
}
.form-group {
  margin: 10px 10px;
}
#form-element {
  width: 45%;
}
label {
  text-align: left;
}
.form-control {
  height: 40px;
}
select {
  width: 90%;
  height: 4.5vh;
  float: right;
  font-size: 1rem;
}
#form-select {
  margin: 25px 10px;
}
</style>
