<template>
  <div id="wrapper">
    <div class="main-div">
      <div class="row-div" id="first-row-div">
        <div class="card">
          <img src="@/img/picture9.png" alt="Exam period">
          <button type="button" class="btn btn-success" @click="seeAllExamPeriods">See all exam periods</button>
        </div>
        <div class="card">
          <img src="@/img/picture7.jpg" alt="Exam registration">
          <button type="button" class="btn btn-success" style="width: 14vw;" @click="seeAllExamRegistrations">See all exam registrations</button>
        </div>
        <div class="card">
          <img src="@/img/picture11.jpg" alt="Exam" style="height: 30vh;">
          <button type="button" class="btn btn-success" @click="seeAllExams">See all exams</button>
        </div>
      </div>

      <div class="row-div">
        <div class="card">
          <img src="@/img/picture13.webp" alt="Exam period" class="second-row-img">
          <button type="button" class="btn btn-success" @click="addNewExamPeriod">Add new exam period</button>
        </div>
        <div class="card">
          <img src="@/img/picture13.webp" alt="Exam registration" class="second-row-img">
          <button type="button" class="btn btn-success" @click="registerForTheExam">Register for the exam</button>
        </div>
        <div class="card">
          <img src="@/img/picture13.webp" alt="Exam" class="second-row-img">
          <button type="button" class="btn btn-success" @click="addNewExam">Add new exam</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
      addNewExam() {
          this.$router.push({path: '/exam-form'});
      },
      registerForTheExam() {
        this.$router.push({path: '/exam-registration-form'});
      },
      seeAllExams() {
        this.$router.push({path: '/exams'});
      },
      seeAllExamPeriods() {
        this.$router.push({path: '/examPeriods'});
      }, 
      addNewExamPeriod() {
        this.$router.push({path: '/exam-period-form'});
      },
      seeAllExamRegistrations() {
        this.$router.push({path: '/examRegistrations'});
      }
  }
}
</script>

<style scoped>
#wrapper {
  background-color: beige;
}
.main-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  height: 85vh;
  margin: auto;
}
.row-div {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
#first-row-div {
  margin-top: 60px;
}
.card {
  width: 20vw;
  height: 40vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
  border-radius: 5px 5px 0 0;
}
.second-row-img {
  height: 15vh; 
  width: 10vw; 
  margin: 7.5vh 4.5vw;
}
.container {
  padding: 2px 16px;
}
button {
  width: 12vw;
  margin: 6% auto;
}
</style>
